.container{
    width: 80%;
    border: 1px solid gainsboro;
}
sup{
    color: blueviolet;
}
sup{
    color:black
}
#col-temp1{
    font-size: 40px;
}
img{
    height: 200px;
    width: 200px;
   padding: 5px;
}
#deg2{
    font-size: ;
}
div a{
    color: rgb(255, 0, 157);
}
#state:hover{
    background-color: blueviolet;
    text-align: center;
    opacity: 0.3px;
}

#wind,
#temp,
#humidity{
    background-color: aliceblue;
    
}

footer{
    text-align: center;
}
#state{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 20px;
    padding: 10px;
}

div.time,
.sunset{
    text-align: center;
    font-weight: 50;
    font: 2em impact;
}

sup .deg{
    color: black;
}
